.task-column-container {
  min-width: 280px;
  max-width: 25vw;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
}

.task-card-wrapper {
  display: "flex";
  align-items: "center";
  border-radius: "4px";
  margin-bottom: "4px";
  padding: "4px";
  cursor: "pointer";
}
