.app-container {
  min-height: 100vh;
  padding: 20px 5%;
  transition: background-color 0.3s, color 0.3s;
}

.app-container.light {
  background-color: #fff;
  color: #000;
}

.app-container.dark {
  background-color: #000;
  color: #fff;
}
